/* main.css: Add and override styles */
text {
  font-size: 16px;
}

a { 
  cursor: pointer 
}

.dc-data-count small {
  font-size: 16px;
}

.container-fluid {
  padding-left: 40px;
  padding-right: 40px;
}

.pie-chart {
  height: 150px;
}

#control-row {
  padding-bottom: 20px;
}

.dc-chart .axis text{
  font-size: 12px;
}

.dc-chart g.row text {
    fill: black;
}

/*override dc.css*/
.dc-chart g.row rect {
    opacity: 0.6;
}

.dc-chart g.mdg_adm1 path {
    stroke: white
}

.dc-chart g.mdg_adm2 path {
    stroke: white
}

/* CSS spinner from http://tobiasahlin.com/spinkit, with minor modifications*/
.spinner {
  position: fixed;
  z-index: 999;
  height: 4em;
  width: 4em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.spinner:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.5;
}


.spinner > div {
  background-color: #222;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

